body,
html {
	margin:0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    line-height: 1.337;
    overflow-x: hidden;
    /*background: #f8f8f8;*/
    background: #000;
    font-family: consolas,Lato,sans-serif;
    color:#333;
}
.header,
.container,
.footer {
	box-sizing:border-box;
}

.absolute {
	position:absolute;
}