p {
	padding:0;
	margin:0;
}
.header {
	z-index: 10;
	-webkit-box-shadow: 0 0 8px -1px #a5a5a5;
	box-shadow: 0 0 8px -1px #a5a5a5;
	padding:20px;
}
.content {
	height:100%;
	padding:20px;
}
.footer {
	padding:20px;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    height:35px;
}
