.header {
	height:0px;
/*	height:70px;
	background:linear-gradient(to right, rgba(0,0,0,.15),rgba(0,0,0,.05));
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 10px rgba(0, 0, 0, 0.06);
*/}
.content {
	height:100%;
	background:#40474f;
}
a {
  width: calc(50% - 2em);
  color:#444;
}